body{
	background-image: url("../Img/fondoFilm.jpg");
	background-color: #cccccc; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	overflow: scroll;
	overflow-x: hidden;
	::-webkit-scrollbar {
	 background: #BF7D2C; 
  width: 1%;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #E0A755; 
  border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
  background: #BF7D2C; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
}

#title{
	background-color: #E0A755; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
	color: black;
	font-weight: bold;
	text-align: center;
	height: 100%;
	width: 80%;
	border-radius: 20px;
	margin: 0 auto;
	
}

#content{
	
	max-width: 80%;
	margin: 0 auto;
	border-radius: 20px;
}
table{
	width: 60%;
}
#searchDiv{
	margin: 0% auto;
	

}

.btn{
	background-color:#E0A755;
	color:black;
	font-weight: bold;
	border-radius: 5px;


}



#addFilmDiv{

	border-radius: 10px;
	display: flex;
	justify-content: center;
	
}

.headTable{
	background-color: #BF7D2C;
	font-weight: bold;
	text-align: center; 
}
#result{
	display: flex;
	justify-content: center;
}
td{
	padding:2%;
	margin:10%;
	
}
#result{
	display: flex;
	justify-content: center;
}

.clsEven{
	background-color:#CC9945;
}
.clsOdd{
	background-color:#BF7D2C;
}