body{
	background-image: url("../img/purple.jpg");
}

#title{
	background-color:#ACE087;
	color:#DB87E0;
	font-weight: bold;
	text-align: center;
	height: 40px;
	width: 60%;
	border-radius: 20px;
	margin: 0 auto;
	
}

#content{
background-color:#D67FFF77;
max-width: 60%;
margin: 0 auto;
border-radius: 20px;
}
#searchDiv{
	margin: 0 auto;
	display: flex;
	justify-content: center;

}

.btn{
	background-color:#904A94;
	color:#ACE087;
	font-weight: bold;
	border-radius: 5px;


}



#addFilmDiv{

	border-radius: 10px;
	
}

.headTable{
	background-color:color:#ACE087;
	font-weight: bold;
	color:  
}
#result{
	display: flex;
	justify-content: center;
}
td{
	padding:2%;
	margin:10%;
	
}
.clsEven{
	background-color:#ACE087;
}
.clsOdd{
	background-color:#904A94;
}